<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>NODE+EJS</title>
</head>
<body class="container"> 
    
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="*">EJS</a>
    </nav>
</header>

<main>
    <div class="jumbotron">
        <h1> node com EJS</h1>
        <p>Vamos aprender o node com EJS</p>
    </div>
</main>

<footer>
    <p class="text-center text-muted">Feito no capricho </p>
</footer>

</body>
</html>