.div{
    background-color: red;
    width: 250px;
    height: 250px;
    display: flex;
    border-radius: 50%;
    margin: auto;
    transition-property:all;
    transition-duration: 5s;
}


.div:hover{
    background-color: blue;
    transition: 2s;
    border-radius: 1%;
}