.faixa{width: 100%; background-color: blue;  height: 15px; margin-bottom: 5px;
transition: all;
transition-duration: 3s;

}

.faixa:hover{
    background-color: pink; 
    width: 20%;
}


.faixa:hover .linear{
    transition-timing-function: linear;
}

.faixa:hover .ease-in{
    transition-timing-function: ease-in;
}


